--
-- PostgreSQL database dump
--

\restrict TAfDPYMvuQXY2kzaa2NASNiDxwNzWnNYwRBsIrKhLDWqoS444mkQ54Ne9Q2Eh3C

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.room_types DROP CONSTRAINT IF EXISTS room_types_hotel_id_hotels_id_fk;
ALTER TABLE IF EXISTS ONLY public.reviews DROP CONSTRAINT IF EXISTS reviews_hotel_id_hotels_id_fk;
ALTER TABLE IF EXISTS ONLY public.reviews DROP CONSTRAINT IF EXISTS reviews_guest_id_users_id_fk;
ALTER TABLE IF EXISTS ONLY public.reviews DROP CONSTRAINT IF EXISTS reviews_booking_id_bookings_id_fk;
ALTER TABLE IF EXISTS ONLY public.hotels DROP CONSTRAINT IF EXISTS hotels_owner_id_users_id_fk;
ALTER TABLE IF EXISTS ONLY public.hotel_images DROP CONSTRAINT IF EXISTS hotel_images_hotel_id_hotels_id_fk;
ALTER TABLE IF EXISTS ONLY public.guest_preferences DROP CONSTRAINT IF EXISTS guest_preferences_guest_id_users_id_fk;
ALTER TABLE IF EXISTS ONLY public.extra_services DROP CONSTRAINT IF EXISTS extra_services_hotel_id_hotels_id_fk;
ALTER TABLE IF EXISTS ONLY public.bookings DROP CONSTRAINT IF EXISTS bookings_room_type_id_room_types_id_fk;
ALTER TABLE IF EXISTS ONLY public.bookings DROP CONSTRAINT IF EXISTS bookings_guest_id_users_id_fk;
ALTER TABLE IF EXISTS ONLY public.booking_extras DROP CONSTRAINT IF EXISTS booking_extras_extra_service_id_extra_services_id_fk;
ALTER TABLE IF EXISTS ONLY public.booking_extras DROP CONSTRAINT IF EXISTS booking_extras_booking_id_bookings_id_fk;
ALTER TABLE IF EXISTS ONLY public.availability DROP CONSTRAINT IF EXISTS availability_room_type_id_room_types_id_fk;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_pkey;
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS users_email_unique;
ALTER TABLE IF EXISTS ONLY public.room_types DROP CONSTRAINT IF EXISTS room_types_pkey;
ALTER TABLE IF EXISTS ONLY public.reviews DROP CONSTRAINT IF EXISTS reviews_pkey;
ALTER TABLE IF EXISTS ONLY public.hotels DROP CONSTRAINT IF EXISTS hotels_slug_unique;
ALTER TABLE IF EXISTS ONLY public.hotels DROP CONSTRAINT IF EXISTS hotels_pkey;
ALTER TABLE IF EXISTS ONLY public.hotel_images DROP CONSTRAINT IF EXISTS hotel_images_pkey;
ALTER TABLE IF EXISTS ONLY public.guest_preferences DROP CONSTRAINT IF EXISTS guest_preferences_pkey;
ALTER TABLE IF EXISTS ONLY public.guest_preferences DROP CONSTRAINT IF EXISTS guest_preferences_guest_id_unique;
ALTER TABLE IF EXISTS ONLY public.extra_services DROP CONSTRAINT IF EXISTS extra_services_pkey;
ALTER TABLE IF EXISTS ONLY public.bookings DROP CONSTRAINT IF EXISTS bookings_pkey;
ALTER TABLE IF EXISTS ONLY public.booking_extras DROP CONSTRAINT IF EXISTS booking_extras_pkey;
ALTER TABLE IF EXISTS ONLY public.availability DROP CONSTRAINT IF EXISTS availability_room_type_id_date_unique;
ALTER TABLE IF EXISTS ONLY public.availability DROP CONSTRAINT IF EXISTS availability_pkey;
ALTER TABLE IF EXISTS ONLY drizzle.__drizzle_migrations DROP CONSTRAINT IF EXISTS __drizzle_migrations_pkey;
ALTER TABLE IF EXISTS drizzle.__drizzle_migrations ALTER COLUMN id DROP DEFAULT;
DROP SEQUENCE IF EXISTS public.users_id_seq;
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.room_types;
DROP TABLE IF EXISTS public.reviews;
DROP TABLE IF EXISTS public.hotels;
DROP TABLE IF EXISTS public.hotel_images;
DROP TABLE IF EXISTS public.guest_preferences;
DROP TABLE IF EXISTS public.extra_services;
DROP TABLE IF EXISTS public.bookings;
DROP TABLE IF EXISTS public.booking_extras;
DROP TABLE IF EXISTS public.availability;
DROP SEQUENCE IF EXISTS drizzle.__drizzle_migrations_id_seq;
DROP TABLE IF EXISTS drizzle.__drizzle_migrations;
DROP TYPE IF EXISTS public.user_role;
DROP TYPE IF EXISTS public.hotel_category;
DROP TYPE IF EXISTS public.extra_category;
DROP TYPE IF EXISTS public.booking_status;
DROP EXTENSION IF EXISTS "uuid-ossp";
DROP EXTENSION IF EXISTS pg_trgm;
DROP SCHEMA IF EXISTS drizzle;
--
-- Name: drizzle; Type: SCHEMA; Schema: -; Owner: bh_user
--

CREATE SCHEMA drizzle;


ALTER SCHEMA drizzle OWNER TO bh_user;

--
-- Name: pg_trgm; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pg_trgm WITH SCHEMA public;


--
-- Name: EXTENSION pg_trgm; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pg_trgm IS 'text similarity measurement and index searching based on trigrams';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: booking_status; Type: TYPE; Schema: public; Owner: bh_user
--

CREATE TYPE public.booking_status AS ENUM (
    'PENDING',
    'CONFIRMED',
    'CANCELLED',
    'COMPLETED'
);


ALTER TYPE public.booking_status OWNER TO bh_user;

--
-- Name: extra_category; Type: TYPE; Schema: public; Owner: bh_user
--

CREATE TYPE public.extra_category AS ENUM (
    'SPA',
    'DINING',
    'TRANSPORT',
    'EXPERIENCE',
    'OTHER'
);


ALTER TYPE public.extra_category OWNER TO bh_user;

--
-- Name: hotel_category; Type: TYPE; Schema: public; Owner: bh_user
--

CREATE TYPE public.hotel_category AS ENUM (
    'LUXURY',
    'BOUTIQUE',
    'ECO',
    'BEACH',
    'MOUNTAIN',
    'CITY'
);


ALTER TYPE public.hotel_category OWNER TO bh_user;

--
-- Name: user_role; Type: TYPE; Schema: public; Owner: bh_user
--

CREATE TYPE public.user_role AS ENUM (
    'GUEST',
    'HOTEL_ADMIN',
    'SUPER_ADMIN'
);


ALTER TYPE public.user_role OWNER TO bh_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: __drizzle_migrations; Type: TABLE; Schema: drizzle; Owner: bh_user
--

CREATE TABLE drizzle.__drizzle_migrations (
    id integer NOT NULL,
    hash text NOT NULL,
    created_at bigint
);


ALTER TABLE drizzle.__drizzle_migrations OWNER TO bh_user;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE; Schema: drizzle; Owner: bh_user
--

CREATE SEQUENCE drizzle.__drizzle_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNER TO bh_user;

--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: drizzle; Owner: bh_user
--

ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNED BY drizzle.__drizzle_migrations.id;


--
-- Name: availability; Type: TABLE; Schema: public; Owner: bh_user
--

CREATE TABLE public.availability (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    room_type_id uuid NOT NULL,
    date date NOT NULL,
    rooms_available integer NOT NULL,
    price_override numeric(10,2),
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.availability OWNER TO bh_user;

--
-- Name: booking_extras; Type: TABLE; Schema: public; Owner: bh_user
--

CREATE TABLE public.booking_extras (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    booking_id uuid NOT NULL,
    extra_service_id uuid NOT NULL,
    quantity integer DEFAULT 1 NOT NULL,
    unit_price numeric(10,2) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.booking_extras OWNER TO bh_user;

--
-- Name: bookings; Type: TABLE; Schema: public; Owner: bh_user
--

CREATE TABLE public.bookings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    guest_id uuid NOT NULL,
    room_type_id uuid NOT NULL,
    check_in date NOT NULL,
    check_out date NOT NULL,
    guests_count integer DEFAULT 1 NOT NULL,
    total_price numeric(10,2) NOT NULL,
    currency text DEFAULT 'CLP'::text NOT NULL,
    status public.booking_status DEFAULT 'PENDING'::public.booking_status NOT NULL,
    special_requests text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.bookings OWNER TO bh_user;

--
-- Name: extra_services; Type: TABLE; Schema: public; Owner: bh_user
--

CREATE TABLE public.extra_services (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    hotel_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    price numeric(10,2) NOT NULL,
    currency character varying(3) DEFAULT 'CLP'::character varying NOT NULL,
    category public.extra_category DEFAULT 'OTHER'::public.extra_category NOT NULL,
    available boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.extra_services OWNER TO bh_user;

--
-- Name: guest_preferences; Type: TABLE; Schema: public; Owner: bh_user
--

CREATE TABLE public.guest_preferences (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    guest_id uuid NOT NULL,
    preferred_categories jsonb DEFAULT '[]'::jsonb,
    preferred_amenities jsonb DEFAULT '[]'::jsonb,
    preferred_location character varying(255),
    budget_min integer,
    budget_max integer,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.guest_preferences OWNER TO bh_user;

--
-- Name: hotel_images; Type: TABLE; Schema: public; Owner: bh_user
--

CREATE TABLE public.hotel_images (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    hotel_id uuid NOT NULL,
    url character varying(1000) NOT NULL,
    alt_text character varying(255),
    sort_order integer DEFAULT 0 NOT NULL,
    is_cover boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.hotel_images OWNER TO bh_user;

--
-- Name: hotels; Type: TABLE; Schema: public; Owner: bh_user
--

CREATE TABLE public.hotels (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    owner_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    slug character varying(255) NOT NULL,
    description text,
    location_city character varying(100) NOT NULL,
    location_country character varying(100) NOT NULL,
    address character varying(500),
    latitude real,
    longitude real,
    category public.hotel_category DEFAULT 'BOUTIQUE'::public.hotel_category NOT NULL,
    star_rating integer DEFAULT 3 NOT NULL,
    active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    google_place_id character varying(255),
    google_rating real,
    google_rating_count integer
);


ALTER TABLE public.hotels OWNER TO bh_user;

--
-- Name: reviews; Type: TABLE; Schema: public; Owner: bh_user
--

CREATE TABLE public.reviews (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    booking_id uuid NOT NULL,
    guest_id uuid NOT NULL,
    hotel_id uuid NOT NULL,
    rating_overall integer NOT NULL,
    rating_service integer NOT NULL,
    rating_cleanliness integer NOT NULL,
    rating_location integer NOT NULL,
    comment text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.reviews OWNER TO bh_user;

--
-- Name: room_types; Type: TABLE; Schema: public; Owner: bh_user
--

CREATE TABLE public.room_types (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    hotel_id uuid NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    capacity integer DEFAULT 2 NOT NULL,
    price_per_night numeric(10,2) NOT NULL,
    currency character varying(3) DEFAULT 'CLP'::character varying NOT NULL,
    total_rooms integer DEFAULT 1 NOT NULL,
    amenities jsonb DEFAULT '[]'::jsonb,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.room_types OWNER TO bh_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: bh_user
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    email character varying(255) NOT NULL,
    password_hash character varying(255),
    otp_secret character varying(500),
    otp_enabled character varying(5) DEFAULT 'false'::character varying,
    sso_provider character varying(50),
    sso_subject character varying(255),
    role public.user_role DEFAULT 'GUEST'::public.user_role NOT NULL,
    locale character varying(10) DEFAULT 'es'::character varying NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.users OWNER TO bh_user;

--
-- Name: users_id_seq; Type: SEQUENCE; Schema: public; Owner: bh_user
--

CREATE SEQUENCE public.users_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.users_id_seq OWNER TO bh_user;

--
-- Name: users_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: bh_user
--

ALTER SEQUENCE public.users_id_seq OWNED BY public.users.id;


--
-- Name: __drizzle_migrations id; Type: DEFAULT; Schema: drizzle; Owner: bh_user
--

ALTER TABLE ONLY drizzle.__drizzle_migrations ALTER COLUMN id SET DEFAULT nextval('drizzle.__drizzle_migrations_id_seq'::regclass);


--
-- Data for Name: __drizzle_migrations; Type: TABLE DATA; Schema: drizzle; Owner: bh_user
--

COPY drizzle.__drizzle_migrations (id, hash, created_at) FROM stdin;
1	99af2755521bec4c1758736ba98038cddfaa252bca2977dd0a7f047d02032d20	1775846123007
2	5a4be0a276d3adca09e2740cde10789600afc1be619631d6fe79d8058e3bf7b4	1776171293085
\.


--
-- Data for Name: availability; Type: TABLE DATA; Schema: public; Owner: bh_user
--

COPY public.availability (id, room_type_id, date, rooms_available, price_override, created_at) FROM stdin;
\.


--
-- Data for Name: booking_extras; Type: TABLE DATA; Schema: public; Owner: bh_user
--

COPY public.booking_extras (id, booking_id, extra_service_id, quantity, unit_price, created_at) FROM stdin;
\.


--
-- Data for Name: bookings; Type: TABLE DATA; Schema: public; Owner: bh_user
--



--
-- Data for Name: extra_services; Type: TABLE DATA; Schema: public; Owner: bh_user
--

COPY public.extra_services (id, hotel_id, name, description, price, currency, category, available, created_at) FROM stdin;
\.


--
-- Data for Name: guest_preferences; Type: TABLE DATA; Schema: public; Owner: bh_user
--

COPY public.guest_preferences (id, guest_id, preferred_categories, preferred_amenities, preferred_location, budget_min, budget_max, updated_at) FROM stdin;
\.


--
-- Data for Name: hotel_images; Type: TABLE DATA; Schema: public; Owner: bh_user
--



--
-- Data for Name: hotels; Type: TABLE DATA; Schema: public; Owner: bh_user
--



--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: bh_user
--

COPY public.reviews (id, booking_id, guest_id, hotel_id, rating_overall, rating_service, rating_cleanliness, rating_location, comment, created_at) FROM stdin;
\.


--
-- Data for Name: room_types; Type: TABLE DATA; Schema: public; Owner: bh_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: bh_user
--



--
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE SET; Schema: drizzle; Owner: bh_user
--

SELECT pg_catalog.setval('drizzle.__drizzle_migrations_id_seq', 2, true);


--
-- Name: users_id_seq; Type: SEQUENCE SET; Schema: public; Owner: bh_user
--

SELECT pg_catalog.setval('public.users_id_seq', 1, false);


--
-- Name: __drizzle_migrations __drizzle_migrations_pkey; Type: CONSTRAINT; Schema: drizzle; Owner: bh_user
--

ALTER TABLE ONLY drizzle.__drizzle_migrations
    ADD CONSTRAINT __drizzle_migrations_pkey PRIMARY KEY (id);


--
-- Name: availability availability_pkey; Type: CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.availability
    ADD CONSTRAINT availability_pkey PRIMARY KEY (id);


--
-- Name: availability availability_room_type_id_date_unique; Type: CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.availability
    ADD CONSTRAINT availability_room_type_id_date_unique UNIQUE (room_type_id, date);


--
-- Name: booking_extras booking_extras_pkey; Type: CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.booking_extras
    ADD CONSTRAINT booking_extras_pkey PRIMARY KEY (id);


--
-- Name: bookings bookings_pkey; Type: CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_pkey PRIMARY KEY (id);


--
-- Name: extra_services extra_services_pkey; Type: CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.extra_services
    ADD CONSTRAINT extra_services_pkey PRIMARY KEY (id);


--
-- Name: guest_preferences guest_preferences_guest_id_unique; Type: CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.guest_preferences
    ADD CONSTRAINT guest_preferences_guest_id_unique UNIQUE (guest_id);


--
-- Name: guest_preferences guest_preferences_pkey; Type: CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.guest_preferences
    ADD CONSTRAINT guest_preferences_pkey PRIMARY KEY (id);


--
-- Name: hotel_images hotel_images_pkey; Type: CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.hotel_images
    ADD CONSTRAINT hotel_images_pkey PRIMARY KEY (id);


--
-- Name: hotels hotels_pkey; Type: CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.hotels
    ADD CONSTRAINT hotels_pkey PRIMARY KEY (id);


--
-- Name: hotels hotels_slug_unique; Type: CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.hotels
    ADD CONSTRAINT hotels_slug_unique UNIQUE (slug);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: room_types room_types_pkey; Type: CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.room_types
    ADD CONSTRAINT room_types_pkey PRIMARY KEY (id);


--
-- Name: users users_email_unique; Type: CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_unique UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: availability availability_room_type_id_room_types_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.availability
    ADD CONSTRAINT availability_room_type_id_room_types_id_fk FOREIGN KEY (room_type_id) REFERENCES public.room_types(id) ON DELETE CASCADE;


--
-- Name: booking_extras booking_extras_booking_id_bookings_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.booking_extras
    ADD CONSTRAINT booking_extras_booking_id_bookings_id_fk FOREIGN KEY (booking_id) REFERENCES public.bookings(id) ON DELETE CASCADE;


--
-- Name: booking_extras booking_extras_extra_service_id_extra_services_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.booking_extras
    ADD CONSTRAINT booking_extras_extra_service_id_extra_services_id_fk FOREIGN KEY (extra_service_id) REFERENCES public.extra_services(id) ON DELETE RESTRICT;


--
-- Name: bookings bookings_guest_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_guest_id_users_id_fk FOREIGN KEY (guest_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: bookings bookings_room_type_id_room_types_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.bookings
    ADD CONSTRAINT bookings_room_type_id_room_types_id_fk FOREIGN KEY (room_type_id) REFERENCES public.room_types(id) ON DELETE RESTRICT;


--
-- Name: extra_services extra_services_hotel_id_hotels_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.extra_services
    ADD CONSTRAINT extra_services_hotel_id_hotels_id_fk FOREIGN KEY (hotel_id) REFERENCES public.hotels(id) ON DELETE CASCADE;


--
-- Name: guest_preferences guest_preferences_guest_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.guest_preferences
    ADD CONSTRAINT guest_preferences_guest_id_users_id_fk FOREIGN KEY (guest_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: hotel_images hotel_images_hotel_id_hotels_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.hotel_images
    ADD CONSTRAINT hotel_images_hotel_id_hotels_id_fk FOREIGN KEY (hotel_id) REFERENCES public.hotels(id) ON DELETE CASCADE;


--
-- Name: hotels hotels_owner_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.hotels
    ADD CONSTRAINT hotels_owner_id_users_id_fk FOREIGN KEY (owner_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- Name: reviews reviews_booking_id_bookings_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_booking_id_bookings_id_fk FOREIGN KEY (booking_id) REFERENCES public.bookings(id) ON DELETE CASCADE;


--
-- Name: reviews reviews_guest_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_guest_id_users_id_fk FOREIGN KEY (guest_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- Name: reviews reviews_hotel_id_hotels_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_hotel_id_hotels_id_fk FOREIGN KEY (hotel_id) REFERENCES public.hotels(id) ON DELETE CASCADE;


--
-- Name: room_types room_types_hotel_id_hotels_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: bh_user
--

ALTER TABLE ONLY public.room_types
    ADD CONSTRAINT room_types_hotel_id_hotels_id_fk FOREIGN KEY (hotel_id) REFERENCES public.hotels(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict TAfDPYMvuQXY2kzaa2NASNiDxwNzWnNYwRBsIrKhLDWqoS444mkQ54Ne9Q2Eh3C

